.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  padding: 50px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  align-items: center;
  gap: 30px;
}

.form input {
  padding: 30px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: var(--bg);
  width: 100%;
}
.form button {
  width: 100%;
  padding: 20px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: teal;
  border-radius: 5px;
}
